<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/loginForgotPassword.css">
    <title>loginForgotPassword</title>
</head>
<body>
   <div class="loginForgotPasswordContainer" id="forgotContainer">

        <div id="stepEmail">
            <form method="get" action="/loginForgotPasswordValidation" onsubmit="return showOtp()">
                <input type="email" id="loginForgotEmail" class="loginForgotEmail" placeholder="Enter your Email" name="email">
                <button type="submit" class="loginForgotButton">Send OTP</button>
                <div id="ErrorMsg" style="display: none; color: red; margin-top: 5px;">
                    <p>Enter Valid Email</p>
                </div>
            </form>
        </div>

    </div>

    <script>
        function showOtp() {
            const email = document.getElementById("loginForgotEmail").value.trim();
            const errorMsg = document.getElementById("ErrorMsg");

            if (email.length === 0) {
                errorMsg.style.display = "block";  
                return false; 
            } else {
                errorMsg.style.display = "none";  
                return true; 
            }
        }
    </script>
</body>
</html>
