<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/PasswordCreation.css">
    <title>Password Creation</title>
</head>
<body>
    
    <div class="passwordContainer">
        <h2>Enter New Password</h2>
        <form method="post" action="/forgotPasswordUpdate/<%= email %>?_method=PUT" onsubmit="return verifyPassword()">
            <input type="password" name="newPassword" class="password" id="newPassword" placeholder="New Password"/><br>
            <input type="password" name="confirmPassword" class="password" id="confirmPassword" placeholder="Confirm Password"/><br>
            <button type="submit" class="updateButton">Update Password</button>
            <div id="verification" style="display: none; color: #be0808">
                <p>Password Mismatch</p>
            </div>
        </form>
    </div>

    <script>
        function verifyPassword(){
            const newPassword = document.getElementById("newPassword").value.trim();
            const confirmPassword = document.getElementById("confirmPassword").value.trim();
            const errorMsg = document.getElementById("verification");

            
            if(newPassword.length === 0 || confirmPassword.length === 0){
                errorMsg.style.display = "block";
                return false;
            }
            if(newPassword !== confirmPassword){
                errorMsg.style.display = "block";
                return false;
            } else {
                errorMsg.style.display = "none";
                return true;
            }
        }
    </script>
</body>
</html>
