body {
    background-color: #37353E;
    color: white;
    display: flex; 
    justify-content: center; 
    align-items: center;    
    margin: 0; 
    height: 100vh;  
}

.loginForgotPasswordContainer{
    background-color: #37353E;
   
}
.loginForgotEmail{
    height: 30px;
    width: 300px;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
}

.loginForgotButton{
    height: 30px;
    width: 100px;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
}

.loginForgotOtp{
    height: 30px;
    width: 300px;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;

}

.loginForgotOtpButton{
    height: 30px;
    width: 100px;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;

}